---
import { SignedIn, UserButton } from "@clerk/astro/components";
import SignedOutComponent from "./SignedOutComponent.astro";
---

<main class="max-w-xl h-screen mx-auto content-center">
  <div
    class="flex flex-col px-4 py-8 justify-center border-4 border-gray-300 shadow-2xl rounded-lg items-center"
  >
    <h1 class="text-4xl font-bold mb-4 text-gray-100">
      `Welcome ${use} to Auth Project`
    </h1>
    <SignedOutComponent />
  </div>
  <SignedIn>
    <div class="pt-4">
      <UserButton showName />
      <p class="mt-8 text-lg">
        You are already logged in, you can go to the <a
          class="text-blue-500 hover:underline"
          href="/dashboard">Dashboard</a
        > page.
      </p>
    </div>
  </SignedIn>
</main>
